body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,;
    text-align:center;
    background-image: url("images/table.img");
    background-size: cover;
    margin:50px auto;
    border:2px white;
    font-size:30px;
    font-weight: bold;
    
    
}
h1{
    color:goldenrod;
}
p{
    color:white;
}

button{
    padding:10px;
    width:180px;
    color:green;
    background-color:goldenrod;
    font-weight: bold;
    font-size:20px;
    border-radius:3px;
    border:none;
    display:flex;
    justify-content: center;
    margin:auto;
    margin-bottom:10px;
    border-radius: 5px;
}